# Database configuration
DATABASE_URL=postgresql://postgres:your_db_password@localhost:5432/my_AlexManus
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=my_AlexManus

# JWT configuration
JWT_SECRET_KEY=your-secret-key-change-in-production-9d3d2735e05a429cbf8  
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=30

# Redis configur    ation
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

LOGGING_LEVEL=WARNING  # 日志级别改为 WARNING，只显示警告和错误信息。
ENV_MODE=local
MODEL_TO_USE=deepseek-v3.2

# 如果用 OpenAI 模型，填写自己的Key
OPENAI_API_KEY=your_openai_api_key

# 如果用DeepSeek 模型，填写自己的key
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_API_BASE=https://api.deepseek.com

# 如果通过 SiliconFlow 使用 DeepSeek 模型，可配置以下变量
SILICONFLOW_API_KEY=your_siliconflow_api_key
SILICONFLOW_API_BASE=https://api.siliconflow.cn/v1
SILICONFLOW_TEXT_MODEL=deepseek-ai/DeepSeek-V3.2
SILICONFLOW_MODEL_URL=https://cloud.siliconflow.cn/models?target=deepseek-ai/DeepSeek-V3.2

# 如果通过 Qwen(DashScope) 走 OpenAI 兼容接口，可配置以下变量
QWEN_API_KEY=your_qwen_api_key
QWEN_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_TEXT_MODEL=deepseek-v3.2

# 如果用ollama 模型，填写ollama启动的模型名称以及endpoint
OLLAMA_MODEL_NAME=qwen3:14b
OLLAMA_BASE_URL=http://192.168.110.131:11434


# Langfuse 配置
# 登录地址：https://cloud.langfuse.com/auth/sign-in
# 1. 右上角创建组织（Organization）
# 2. 在组织中创建 项目（Project）
# 3. 进入 Project 中，创建一个 API_KEY
# 4. 依次复制 Secret Key 和 Public Key 即可
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key
LANGFUSE_SECRET_KEY=your_langfuse_secret_key
LANGFUSE_HOST=https://us.cloud.langfuse.com

# 联网检索登录并注册地址：https://www.tavily.com/
TAVILY_API_KEY=your_tavily_api_key

# 网页爬取登录并注册地址：https://www.firecrawl.dev/signin
FIRECRAWL_API_KEY=your_firecrawl_api_key

# 沙箱服务：用于 Computer use、 Browser use 、 file search 等
# 注册地址： https://ppio.com/user/login
# PPIP/E2B 沙箱服务配置
E2B_DOMAIN=sandbox.ppio.cn

# 登录后，右上角用户中心点击 API 秘钥管理，生成并替换成自己的
E2B_API_KEY=your_e2b_api_key

# https://ppio.com/sandbox/console/template 
# 替换成自己账号中的模版服务
SANDBOX_TEMPLATE_CODE=your_sandbox_template_code      # code-interpreter-v1: 代码解释器 (2核1024MB)
SANDBOX_TEMPLATE_DESKTOP=your_sandbox_template_desktop # desktop: 桌面环境VNC (8核8192MB)
SANDBOX_TEMPLATE_BROWSER=your_sandbox_template_browser # browser-chromium: 浏览器环境 (2核1024MB)
SANDBOX_TEMPLATE_BASE=your_sandbox_template_base
